/.settings
/bin
/logs
*/out/
personnalIndex.html
# filter config files, except .gitignore
*.MF
!.gitignore
*.iml
*.exe
# eclipse ignore
.project
.classpath
# IDEA ignore
.idea
target/
.class
*.class
*.log
!application.properties