<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.easypoi.annotation.mapper.CourseMapper">

<!--    <resultMap id="courseStudent" type="Course">-->
<!--        <id column="id" property="id"/>-->
<!--        <id column="name" property="name"/>-->
<!--    </resultMap>-->

<!--    <select id="findAll" resultMap="courseStudent">-->
<!--        SELECT *-->
<!--         FROM dome.course_entity c-->
<!--                  LEFT JOIN dome.course_student cst on cst.course_id = c.teacher_id-->
<!--                  LEFT JOIN dome.student_entity s on cst.student_id = s.id-->
<!--    </select>-->
    <select id="findAll" resultType="org.springblade.easypoi.annotation.entity.Course">
        select  * from course
    </select>
</mapper>
