<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hniu.community.dao.ManagementDao">

    <resultMap id="userAndRoleList" type="RoleInfo">
        <id column="roleid" property="roleid"/>
        <result column="rolename" property="rolename"/>
        <association property="userInfo" javaType="userInfo">
            <id property="id" column="id"/>
            <result property="email" column="email"/>
            <result property="password" column="password"/>
            <result property="accountName" column="accountName"/>
        </association>
    </resultMap>

    <select id="loginCheck" resultType="Roleinfo">
    select  r.*  from user_role ur  right join roleinfo r on ur.roleid=r.roleid  WHERE userid=
        (SELECT  id FROM userinfo WHERE email=#{email} and password=#{password})
    </select>

    <select id="getAllUserinfo" resultMap="userAndRoleList">
    select  u.id,u.email,u.accountName,r.*  from  roleinfo r right join  user_role ur  on ur.roleid=r.roleid  RIGHT join  userinfo u on ur.userid=u.id
    </select>

    <delete id="deleteUser" parameterType="int">
        delete from userinfo where  id=#{id}
    </delete>

    <update id="resetPassword" parameterType="UserInfo">
        update userinfo
        <set>
            <if test="password!='' and password!=null">
                password=#{password}
            </if>
        </set>
        where accountName=#{accountName}
    </update>

    <select id="getAddzuId" resultType="Roleinfo">
        select * from roleinfo
    </select>

    <insert id="addUserInfo"  parameterType="edu.hniu.community.vo.UserRoleVo">
        <selectKey order="AFTER" keyProperty="userid" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        insert into userinfo(id,
        <trim suffixOverrides=",">
            <if test="accountName!=null and accountName!=''">
                accountName,
            </if>
            <if test="password!=null and password!=''">
                password,
            </if>
            <if test="email!=null and email!=''">
                email,
            </if>
            <if test="mobile!=null and mobile!=''">
                mobile
            </if>
        </trim>
        ) VALUES (default,
        <trim suffixOverrides=",">
            <if test="accountName!=null and accountName!=''">
                #{accountName},
            </if>
            <if test="password!=null and password!=''">
                #{password},
            </if>
            <if test="email!=null and email!=''">
                #{email},
            </if>
            <if test="mobile!=null and mobile!=''">
                #{mobile}
            </if>
        </trim>
        )
    </insert>

    <insert id="addUserInfoByRole" parameterType="edu.hniu.community.vo.UserRoleVo">
        insert into user_role(urid,
        <trim suffixOverrides=",">
            <if test="userid !=null and userid !=''">
                userid,
            </if>
            <if test="roleid !=null and roleid !=''">
                roleid
            </if>
        </trim>
        ) values(default,
        <trim suffixOverrides=",">
            <if test="userid !=null and userid !=''">
                #{userid},
            </if>
            <if test="roleid !=null and roleid !=''">
                #{roleid}
            </if>
        </trim>
        )
    </insert>

    <select id="getAllQusetion"  resultType="edu.hniu.community.vo.QuestionListVo">
       select q.id,q.title,q.creatorid,q.createDate,q.tag,u.email from question q left join userinfo u on q.creatorid=u.id
    </select>

<!--    <delete id="deleteQuestion" parameterType="int">-->
<!--        DELETE FROM question WHERE id=#{id}-->
<!--    </delete>-->

<!--    <delete id="deleteComment" parameterType="int">-->
<!--        -->
<!--    </delete>-->
</mapper>