<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hniu.community.dao.ManagementDao">

    <select id="loginCheck" resultType="Roleinfo">
    select  r.*  from userinfo u left join roleinfo r on u.roleid=r.roleid  WHERE email=#{email} and password=#{password}
    </select>

    <select id="getAllUserinfo" resultType="edu.hniu.community.vo.userAndRoleListVo">
    select  u.id,u.email,u.password,u.accountName,r.*  from  roleinfo r right join userinfo u on r.roleid=u.roleid
    </select>

    <delete id="deleteUser" parameterType="int">
        delete from userinfo where  id=#{id}
    </delete>

    <update id="resetPassword" parameterType="UserInfo">
        update userinfo
        <set>
            <if test="password!='' and password!=null">
                password=#{password}
            </if>
        </set>
        where accountName=#{accountName}
    </update>

    <select id="getAddzuId" resultType="Roleinfo">
        select * from roleinfo
    </select>

    <insert id="addUserInfo" parameterType="UserInfo">
        insert into userinfo(id,
        <trim suffixOverrides=",">
            <if test="accountName!=null and accountName!=''">
                accountName,
            </if>
            <if test="password!=null and password!=''">
                password,
            </if>
            <if test="email!=null and email!=''">
                email,
            </if>
            <if test="roleid!=null and roleid!=''">
                roleid,
            </if>
            <if test="mobile!=null and mobile!=''">
                mobile
            </if>
        </trim>
        ) VALUES (default,
        <trim suffixOverrides=",">
            <if test="accountName!=null and accountName!=''">
                #{accountName},
            </if>
            <if test="password!=null and password!=''">
                #{password},
            </if>
            <if test="email!=null and email!=''">
                #{email},
            </if>
            <if test="roleid!=null and roleid!=''">
                #{roleid},
            </if>
            <if test="mobile!=null and mobile!=''">
                #{mobile}
            </if>
        </trim>
        )
    </insert>


    <select id="getAllQusetion" resultType="edu.hniu.community.vo.QuestionListVo">
       select q.id,q.title,q.creatorid,q.createDate,qt.type_name,u.email from question q left join userinfo u on q.creatorid=u.id left join question_type qt on q.typeid=qt.type_id
    </select>

    <delete id="deleteQuestion" parameterType="int">
         DELETE FROM question WHERE id=#{id}
    </delete>

    <select id="getAllTagName" resultType="QuestionType">
        select * from question_type
    </select>

    <delete id="deleteTagById" parameterType="int">
        delete from question_type where type_id=#{type_id}
    </delete>

    <insert id="addTag" parameterType="edu.hniu.community.vo.QuestionListVo">
        insert into question_type(type_id,
        <trim suffixOverrides=",">
            <if test="type_name!=null and type_name!=''">
                type_name,
            </if>
            <if test="type_createTime!=null">
                type_createTime
            </if>
        </trim>
        )values(default ,
        <trim suffixOverrides=",">
            <if test="type_name!=null and type_name!=''">
                #{type_name},
            </if>
            <if test="type_createTime!=null">
                #{type_createTime}
            </if>
        </trim>
        )
    </insert>
</mapper>